@import 'global.css';

.main-content{
    background-color:var(--cor-main);
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    color: white;
}

.card-grid{
    
    margin-bottom: 2rem;
}

/* Contêiner principal do formulário */
.container-formulario {
    background-color: #525252;
    width: 600px; 
    max-width: 90%; 
    margin: auto; 
    border: 3px solid var(--cor-borda);
    border-radius: 8px;
    box-shadow: 2px 2px 0px black;
    overflow: hidden; 
}

/* Cabeçalho do formulário */
.cabecalho-formulario {
    background-color: var(--cor-azul-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 3px solid var(--cor-borda);
    color: black; 
    font-weight: bold;
    font-size: 1.1em;
}

.cabecalho-formulario-disciplina {
    border-bottom: 2px solid var(--cor-borda); 
    padding-bottom: 2px;
    text-align: center;
}

/* Corpo do formulário (onde estão os inputs) */
.corpo-formulario {
    padding: 30px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.linha-formulario {
    display: flex;
    align-items: center; 
    flex: 1 1 calc(50% - 10px); 
    box-sizing: border-box; 
}

.linha-formulario label {
    margin-right: 10px;
    font-weight: bold;
    min-width: 70px; 
}

.linha-formulario input[type="text"],
.linha-formulario textarea, .linha-formulario input[type="date"] {
    flex-grow: 1; 
    padding: 8px 12px;
    border: 2px solid var(--cor-borda);
    border-radius: 4px;
    font-size: 1em;
    background-color: #f0f0f0; 
}

.linha-formulario input[type="text"]::placeholder,
.linha-formulario textarea::placeholder {
    color: var(--cor-texto-cinza);
}

.linha-formulario textarea {
    min-height: 120px; 
    resize: vertical;
}

.linha-formulario.largura-total {
    flex-basis: 100%; 
}


.rodape-formulario {
    display: flex;
    justify-content: flex-end; 
    padding: 15px 20px;
    border-top: 3px solid var(--cor-borda);
    background-color: #f0f0f0; 
}

.botao-enviar {
    background-color: var(--cor-azul-claro); 
    color: white;
    font-size: 24px; 
    width: 50px;
    height: 50px;
    border: 3px solid var(--cor-borda);
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px var(--cor-borda);
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #0099d0; 
}

input, textarea {
    color: black;
}


@media (max-width: 768px) {
    .container-formulario {
        width: 95%; 
    }
    .linha-formulario {
        flex: 1 1 100%; 
    }
}
