
.cor {
    position: relative;
    background: #fff;
    width: 40rem;
    height: 50rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 1.5rem;
}

.cor-header{
    position: absolute;
    top: 0rem;
    color: white;
    width: 100%;
    display: flex;
    height: 6rem;
    background: #eeb9b9;
    align-items: center;
    border-radius: 1.5rem 1.5rem 0 0;
    justify-content: space-around;
}

.cor-header h2 {
    font-size: 1.4rem;
}

.cor-header p {
    font-size: 1.3rem;
    font-weight: 700;
}

.disciplina{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.disciplina p {
    font-weight: 700;
    font-size: 1.3rem;
}

.disciplina h2 {
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-weight: 400;
    color: black;
    font-size: 1.1rem;
    padding: 1.1rem 3rem;
}

.foto-monitor {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.local {
    position: absolute;
    top: 8rem;
    right: 1rem;
}

.disciplinas{
    position: absolute;
    top: 8rem;
    left: 1rem;
}

.monitores{
    position: absolute;
    top: 14.5rem;
    right: 2rem;
}

.horario{
    position: absolute;
    top: 21.5rem;
    left: 1rem;
}

.publico {
    position: absolute;
    top: 21.5rem;
    right: 0.5rem;
}

.monitor {
    position: absolute;
    top: 36rem;
    right: 8rem;
}

.monitor:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.8s;
}

.conteudos{
    position: absolute;
    top: 28.5rem;
    right: 6rem;
}

#conteudos {
    width: 21rem;
    text-align: center;
}

#conteudos{
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-weight: 400;
    color: black;
    font-size: 1.1rem;
    padding: 1.1rem 3rem;
}

.cor-body{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 45px;
}


.sair{
    position: absolute;
    bottom: 1.2rem;
    background: #000000;
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    left: 1.2rem;
}

.sair:hover {
    cursor: pointer;
    color: rgb(224, 88, 88);
    transition: 0.6s;
    background: #535353;
}

.cor-botao{
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
}

.cor-botao label{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cor-botao label p {
    font-size: 1.3rem;

}

.custom-checkbox{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.custom-checkbox:checked{
    accent-color: green;
    transition: 0.6s;
}

main {
    background: #fff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}