@import 'global.css';

body{
    background-color:var(--cor-main);
}

form {
    color: #FFF;
}

.cabecalho-formulario-imagem{
    background-image: url('../img/fotosPerfil/avatar.png');
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.monitorias-monitor {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 1000px;
    height: 87vh;
}

.card-grid{
    display: flex;
    justify-content: center;
    height: 87vh;
    align-items: center;
}

/* Contêiner principal do formulário */
.container-formulario {
    position: relative;
    width: 800px; 
    height: 30rem;
    max-width: 90%; 
    margin: auto; 
    border: 1px solid black;
    overflow: hidden; 
}

/* Cabeçalho do formulário */
.cabecalho-formulario {
    background-color: var(--cor-azul-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 3px solid var(--cor-borda);
    font-size: 1.1em;
}

.cabecalho-formulario-disciplina {
    border-bottom: 2px solid var(--cor-borda); 
    padding-bottom: 2px ;
    text-align: center;
}
.cabecalho-destaque{
    background-color: var(--cor-fundo-cinza);
    color: black;
    padding: 4px 30px;
    border-radius: 5px;
}


/* Corpo do formulário (onde estão os inputs) */
.corpo-formulario {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
    background-color: #fff;
}

.linha-formulario {
    display: flex;
    align-items: center; 
    width: 30rem;
    box-sizing: border-box; 
    color: black;
    margin: 20px 60px 20px 0px;
}

.linha-formulario label {
    margin-right: 10px;
    font-weight: bold;
    min-width: 70px; 
}

.linha-formulario input[type="text"],
.linha-formulario textarea {
    flex-grow: 1; 
    padding: 8px 12px;
    border: 2px solid var(--cor-borda);
    font-size: 1em;
    background-color:var(--cor-fundo-cinza); 
    text-align: center;
    border-bottom: black solid 1px;
    color: var(--cor-texto-cinza);
    
}

.linha-formulario input[type="text"]::placeholder,
.linha-formulario textarea::placeholder {
    color: var(--cor-texto-cinza);
}

.linha-formulario textarea {
    min-height: 120px; 
    resize: vertical;
    
}


.linha-formulario.largura-total {
    align-items: flex-start;
    width:100%;
    height: 100%;
  }
.corpo1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.corpo2{
    width: 60%;
    height: 279px;
}

#inputData, #inputSala, #inputHorario, #inputMaterias{
    color: black;
  }
  #areaTextoMateriais {
  color: black;
  height: 279px;

}

.rodape-formulario {
    display: flex;
    justify-content: flex-end; 
    padding: 15px 20px;
    border-top: 3px solid var(--cor-borda);
    
}

.botao-enviar {
    background-color: black; 
    color: white;
    font-size: 24px; 
    width: 50px;
    height: 50px;
    border: 3px solid var(--cor-borda);
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px var(--cor-borda);
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #0099d0; 
}

.botao-desencricao-monitoria{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background: rgb(179, 29, 29);
    border-radius: 1.5rem;
}

.botao-desencricao-monitoria:hover {
    cursor: pointer;
    background-color: rgb(238, 91, 91);
    transition: 0.7s;
}

.botao-sair-monitoria{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0.8rem 1.3rem;
    font-size: 1.2rem;
    color: white;
    background: green;
    border-radius: 1.5rem;
}

.botao-sair-monitoria:hover {
    cursor: pointer;
    background-color: rgb(45, 240, 45);
    transition: 0.6s;
}


@media (max-width: 768px) {
    .container-formulario {
        width: 95%; 
    }
    .linha-formulario {
        flex: 1 1 100%; 
    }
}

.cards-container {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-top: 20px;
    padding-top: 5px;
    max-height: 87vh;
    opacity: 1;
}

.monitorias-monitor-titulo{
    font-size: 2rem;
    padding-bottom: 1.4rem;
}
  
  .card-monitoria {
    border: 3px solid #000;
    width: 20rem;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-monitoria:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.matematica-card .card-cabecalho {
    background-color: #00A9E0; 
}

.card-cabecalho {
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monitoria-info {
    font-size: 0.9em;
    font-weight: normal;
}

.monitoria-sala {
    background-color: #2c2c2c;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
}

.card-rodape {
    display: flex;
    justify-content: flex-end; /* Alinha o item à direita */
    padding: 0 10px 10px 0;
}

.card-conteudo {
    padding: 15px;
    flex-grow: 1;
}

.monitoria-observacoes {
    margin: 0;
    padding-left: 20px;
    font-size: 0.95em;
    color: #333;
}