:root{
    --cor-fundo: #358B11;
    --cor-menu: #4AB91B;
    --cor-hover:#4ab91b78;
    --cor-margem:#2A6C0B;
    --cor-hover:#1f6502;
    --cor-main: #FFFFFF;
    --fonte-padrao: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-padrao);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* CABECALHO */

.cabecalho {
    background-color: var(--cor-menu);
    height: 13vh;
}

.cabecalho-navegacao{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cabecalho-navegacao-menu-imagem{
    width: auto;
    height: 13.6vh;
    padding: 4vh 40px;
    box-sizing: border-box;
    object-fit: contain;
}

.cabecalho-navegacao-menu-imagem:hover{
    cursor: pointer;
    background-color: var(--cor-fundo);
    transition: 0.4s;
}

.cabecalho-navegacao-menu-elementos{
    position: absolute;
    display: block;
    top: 13%;
    transform: translate(-100%);
}
.cabecalho-navegacao-menu-elemento{
    list-style-type: none;
    width: 250px;
    text-align: center;
    padding: 30px 40px 30px 0px;
    background-color: #fff;
    border-radius: 0px 30px 30px 0px;
    border-bottom: 3px solid black;
}

.cabecalho-navegacao-menu-elemento:hover{
    background-color: #d9d9d9;
    transition: 1.2s;
    cursor: pointer;
}



.perfil{
    color: white;
}


.cabecalho-navegacao-menu-perfil-elementos{
    
    position: absolute;
    right: 0;
    top: 13%;
    transform: translateX(100%);
}

.cabecalho-navegacao-menu-perfil-elemento{
    list-style-type: none;
    width: 200px;
    text-align: center;
    padding: 25px;
    background-color: var(--cor-fundo);
    color: #fff;
    border-bottom: 3px solid black;
}

.cabecalho-navegacao-menu-perfil-elemento:hover{
    background-color: var(--cor-hover);
    transition: 1.2s;
    cursor: pointer;
}

.cabecalho-navegacao-menu-logo{
    width: 270px;
    height: 90px;
}

.cabecalho-navegacao-menu-perfil{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.cabecalho-navegacao-menu-perfil-imagem{
    width: auto;
    height: 13vh;
    padding: 2.5vh 35px;
    box-sizing: border-box;
    object-fit: contain;
}

.cabecalho-navegacao-menu-perfil-imagem:hover {
    cursor: pointer;
    background-color: var(--cor-fundo);
    transition: 0.4s;
}




/* MAIN */

.principal{
    background-color: white;
    width: 95vw;
    height: 87vh;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    align-items: center;
}

.primeiro {
    margin-top: 10rem;
}

.principal-card{
    background-color: #EAEAEA;
    width: 50rem;
    border-radius: 1rem;
    outline: 4px solid black;
}

.principal-card-titulo{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    background-color: #009987a6;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal-card-titulo-nome{
    flex-grow: 1;
    font-size: 1.5rem;
    text-align: center;
}

.principal-card-titulo-imagem{
    background-image: url(assets/bernardo-bento.jpeg);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat; 
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.principal-card-info {
    position: relative;
    display: flex;
    padding: 2rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}
.principal-card-info-sala{
    position: absolute;
    right: 6rem;
}

.principal-card-info2{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 2rem 2rem;
}